body{
    padding: 0;
    margin: 0;
    background: url(../Images/bg2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;

}

.accountbox{
    padding: 0;
    margin: 0;
    width: 350px; /*350px*/
    height: 700px; /*700px*/
    background: #fff;
    color: darkslategrey;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    position: fixed;
}

.avatar{
    width: 150px; /*150*/
    height: 100px; /*100*/
    position: absolute;
    transform: translate(-10%, 10%);
}

h1{
    margin: 0;
    text-align: center;
    transform: translate(15%, 100%);
    font-size: 38px;
}

.accountbox form{
    margin: 0;
    text-align: center;
    transform: translate(0%, 20%);
    font-size: 30px;
}

.accountbox input{
    width: 75%;
    margin-bottom: 20px;
    font-size: 20px;
}

.accountbox input[type="text"]{
    background: transparent;
    border-color: yellowgreen;
}

.accountbox a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    background: yellowgreen;
    border: none;
    border-radius: 40px;
    height: 100px;
}

.accountbox a:hover{
    background: darkslategrey;
    color: white;
}

.logo{
    padding: 0;
    margin: 0;
    width: 125px;
    height: 100px;
    transform: translate(10%, 0%);
}

.scrollbar {

    height: 70%;
    width: 70%;
    overflow: auto;
    float: right;
}
.table-wrap {

    float: right;
    transform: translate(-3%, 0%);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    overflow: auto;
}

.btn{
    background: yellowgreen;
    color: #000;
    border-radius: 40px;
    border-color: white;
    font-size: 25px;
}

.btn:hover{
    background: darkslategrey;
    border-color: white;
}

.modal-title{
    font-size: 30px;
    font-weight: bold;
    color: darkslategray;
}

.modal-body{
    font-size: 25px;
    background: rgba(220, 240, 204, 1);
    text-align: center;
    color: darkslategray;
}
.modal-content{
    border-radius: 15px;
}
.modal-body input[type="text"]{
    background: transparent;
    border: none;
    border-bottom: 1px solid darkslategrey;
    outline: none;
    text-align: center; 
}