body
{
  margin: 0;
  padding: 0;
  background: url(../Images/note.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

#logoimg
{
  width: 500px;
  height: 400px;
  position: absolute;
  top: 20%;
  rigth: 75%;
}

h1
{
  color: #000000;
}

h4
{
  left: 50px;
}

.loginbox
{
  width: 370px;
  padding: 50px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 35%;
  left: 76%;
  transform: translate(-50%, -30%);
  background:: #191919;
  text-align: center;
}

#signupDiv
{
  position: absolute;
  top: 65%;
  left: 76%;
  transform: translate(-50%, -30%);
}

#wholepage
{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  min-height: 760px;
}

#vertical-line
{
  width: 0.5px;
  height: 382px;
  background-color: black;
  position: absolute;
  top: 20%;
  left: 60%;
}

#userbox, #passwordbox
{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding:  14px 10px;
  width:  200px;
  outline: none;
  color: black;
  transition: : 0.25s;
}

#loginbutton
{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding:  10px 40px;
  outline: none;
  color: black;
  transition: : 0.25s;
}

#signupbutton
{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding:  10px 34px;
  outline: none;
  color: black;
  transition: : 0.25s;
}

#loginbutton:focus, #signupbutton:focus
{
  border-color: #c120b7;
}

#userbox:hover , #passwordbox:hover
{
  width: 250px;
  border-color: #c120b7;
}

#userbox:focus , #passwordbox:focus
{
  width: 280px;
  border-color: #c120b7;
}

#popup
{
  background-color: rgba(0, 0, 0, 0.8);
  left: 0%;
	width: 100%;
	height: 122%;
	position: absolute;
  background-size: cover;
	display: none;
	justify-content: center;
	align-items: center;
  transition: : 0.25s;
}

#footerMenu
{
  position: relative;
  top: -40px;
}

ul
{
  list-style-type: none;
  color: blue;
}
ul li
{
  padding: 10px;
  display: inline;
}
